/target
.vs/
.vscode/
target/
pyvv/
.venv/
pyinstll/
build/
.idea/
tst.py
tst1.py
tst2.py
tst3.py
Cargo.lock
handsomeMan.png
handsomeMan.PNG
sky.png
sky.PNG
.pyi_type_map.json
.assemble_pyi.py
tst4.py